[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neo4jrestclient = "*"
neo4j = "*"
py2neo = "*"
docker = "*"
argparse = "*"
bs4 = "*"
lxml = "*"
networkx = "*"
colorama = "*"
ahpy = "*"
packaging = "*"

[dev-packages]

[requires]
python_version = "3"
